---
export let content;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Astro - Note {content.title && `| ${content.title}`}</title>
        <meta name="description" content={content.description}/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta httpEquiv="X-UA-Compatible" content="IE=edge"  />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff" />

        <!-- Link to the global style, or the file that imports TailwindCSS constructs -->
        <link rel="stylesheet" href="/style/global.css">
    </head>
    <body class="font-sans antialiased">
        <main class="w-full h-screen mx-auto relative px-2 sm:px-6 lg:px-8">
            <!-- spacer -->
            <br class="my-4"/>

            <header class="w-full flex items-center justify-end gap-3 mb-12 px-32">
                <nav>
                    <ul class="inline-flex list-none gap-4 text-xl font-semibold text-purple-500">
                        <li>
                            <a href="/" title="Blog">Home</a>
                        </li>
                        <li>
                            <a href="/blog" title="Blog">Blog</a>
                        </li>
                        <li>
                            <a href="/about" title="About">About</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <!-- spacer -->
            <br class="my-4"/>
            <div class="container">
                <article class="mx-auto prose lg:prose-xl">
                    <img class=" shadow-inner border-8 border-gray-100" src={content.image} alt={content.title} />

                    <!-- post: frontmatter -->
                    <h5 class="text-center text-gray-400">{
                        new Intl.DateTimeFormat('en-US', { dateStyle: 'full' }).format(new Date(content.date))
                    }</h5>
                    <h1 class="text-center text-gray-700">{content.title}</h1>
                    <h5 class="text-center text-gray-500"> By {content.author} &nbsp;<a href={`https://twitter.com/${content.authorTwitter}`} title={`${content.author}'s twitter`} target="_blank" rel="external">@{content.authorTwitter}</a></h5>

                    <!-- post: separator -->
                    <hr />

                    <!-- post: content -->
                    <slot />

                </article>
            </div>

            <!-- spacer -->
            <br class="my-4"/>

            <footer>
                <!-- footer goes here -->
            </footer>
        </main>
    </body>
</html>
